html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*Fonts*/
@font-face {
font-family: 'glaB';
src: url('../fonts/glacialindifference-bold-webfont.eot');
src: url('../fonts/glacialindifference-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
url('../fonts/glacialindifference-bold-webfont.woff') format('woff'),
url('../fonts/glacialindifference-bold-webfont.ttf') format('truetype'),
url('../fonts/glacialindifference-bold-webfont.svg#glacial_indifferencebold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'glaR';
src: url('../fonts/glacialindifference-regular-webfont.eot');
src: url('../fonts/lacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
url('../fonts/glacialindifference-regular-webfont.woff') format('woff'),
url('../fonts/glacialindifference-regular-webfont.ttf') format('truetype'),
url('../fonts/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
font-weight: normal;
font-style: normal;}

h1,h2,h3,#prjDescTitle,.prjArchiveTitle{
    font-family: "glaB";}
#prjDescCont{font-family:"glaR"}

.cap {
    font-size: 1.2em;
}

header,footer,
.contentWrap {
    width: 960px;
    margin: 0 auto;
}

header {
    height: 100px;
}

.headWrap {
    border-bottom: 1px solid #666666;
    width: 100%;
    background-color: #f2f2f2;
    height: 100px;
    display: block;
    position: fixed;
}

nav {
    font-family: "glaR";
    float: right;
    position: relative;
}

header nav {
    top: 40px;
}

header nav ul li {
    display: inline-block;
    margin-right: 15px;
}

header nav a:link {
    font-size: 1.1em;
    color: #3399cc;
}

header nav a:visited {
    color: #3399cc;
}

header nav a:hover {
    color: grey;
}

.logoTxt {
    font-size: 1.6em;
    letter-spacing: .09em;
    color: #232526;
    float: left;
    position: relative;
    top: 30px;
}

.contentWrap {
    min-height: 100%;
    padding-top: 150px;
    display: block;
}

.introWrap {
    height: 400px;
}

.introImage,
.introTxt {
    float: left;
}

.introImage {
    width: 40%;
    background-color: red;
}

.introTxt {
    width: 60%;
    background-color: green;
}

.introFeat {
    width: 800px;
    background-color: red;
    margin: 0 auto;
    display: block;
}

.featuredImg {
    width: 30%;
    height: 250px;
    background-color: yellow;
    display: inline-block;
    float: left;
    margin: 5px;
}

.footWrap {
    height: 150px;
    background-color: #a9bfc0;
    display: block;
}

footer {
    height: 150px;
    display: block;
}

footer nav {
    top: 45px;
}

footer nav li {
    display: inline-block;
    margin-right: 15px;
}

.clear {
    clear: both;
}


.prjSlideWrap{ height:350px; background-color: black;}
#prjDescTitle,.prjArchiveTitle{font-size:1.5em;margin:15px 0 25px 0;}
#prjDescCont{font-size:1em; line-height:1.2em;height: 150px; border-bottom:1px solid grey;}
.prjArchiveWrap{width:850px; margin: 0 auto;padding:15px 0 25px 0;}
.prjArchiveWrap ul li{ width:200px; height: 100px; background-color: red;display: inline-block;}